{% block content %}
  <h2>소환사 랭킹</h2>
  <table>
    <thead>
      <tr>
        <th>순위</th>
        <th>아이콘</th>
        <th>소환사명</th>
        <th>LP</th>
        <th>승률</th>
      </tr>
    </thead>
    <tbody>
      {% for summoner in summoners %}
        <tr>
          <td>{{ summoner.rank }}</td>
          <td><img src="{{ summoner.icon_url }}" alt="아이콘"></td>
          <td>{{ summoner.name }}</td>
          <td>{{ summoner.lp }}</td>
          <td>{{ summoner.win_rate }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}