.title{
    color:rgb(051,102,255);
    margin-top: 20px;
    margin-bottom:20px;
}/*게시판 이름*/

.write{
    background-color: rgb(033, 033, 033);
    border-bottom:1px, solid;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom-color:rgb(100, 100, 100);
    color: white;
    font-size: 15px;
} /*메인화면 게시판 글 className으로 연결하여 사용*/

.div0{
    width: 30%;
    display: inline-block;
    transform: translate(40%,0%);;
    margin:10px 50px;
    padding:20px;
} /*메인화면 게시판 위치 설정 className으로 연결하여 사용*/