{% block content %}
  <h2>게시글 목록</h2>
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
        <th>조회수</th>
        <th>추천 수</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.author.username }}</td>
          <td>{{ post.created_at }}</td>
          <td>{{ post.views }}</td>
          <td>{{ post.likes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}





