.common-table {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;
}

.common-table-header-column {
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  font-size: 16px;
  padding: 10px 5px;
  font-weight: bold;
}

.common-table-row:hover {
  background-color: rgb(23,27,47);
  cursor: pointer;
}

.common-table-column {
  padding: 10px 5px;
  font-size: 15px;
}

/*테스트*/
.custom-dropdown-button {
  background-color: rgb(16, 19, 28);
  border: none;
  /* 추가적인 스타일을 적용할 수 있습니다 */
}